.DadJokes{
    font-family: 'Jost', sans-serif;
    color: #f3e9d2;
}

.DadJokes-Footer{
    color: #205a6d;
}

.DadJokes-Link{
    color: #205a6d;
    border-bottom: 2px dashed #205a6d;
}

.DadJokes-Link:hover{
    color: #205a6d;
    text-decoration: none;
}

.DadJokes-Body{
    max-width: 550px;
}

.DadJokes-Btn{
    transition: 0.3s;
    background: #1a936f;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 110%;
    -webkit-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
}

.DadJokes-Btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.DadJokes-Btn:focus {
    outline: none;
}

.DadJokes-Btn:active {
    border: none;
    transform: scale(0.95);
}

.DadJokes-Header{
    background-color: #1a936f;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
}

.link-txt, .link-txt:hover{
    text-decoration: inherit;
    color: inherit;
}