.Joke{
    background-color: #1a936f;
    border-radius: 4px;
    border-bottom: 3px inset #10634a;
    -webkit-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
}

.Joke-Btn{
    border-radius: 10px;
    border: none;
    background: none;
    color: #88d498;
}

.Joke-Btn:focus{
    outline: 0;
}

.Joke-Dimmed{
    color: #68a375;
}

.Joke-BtnWrapper{
    text-align: center;
    display: block;
}

@media only screen and (max-width: 600px) {
    .Joke-VoteBtn {
        display: block;
    }
}